<!DOCTYPE html>
<html>
  <head>
    <title>Alerts-Capture: Add Alert</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
   
    
      <style>
        .nav-link,.navbar-brand{
          color:white;
        }
        .nav-link:hover,.navbar-brand:hover{
          color:white;
        }
        .text-teal{
          color: teal;
        }
        .bg-teal{
          background-color: teal;
          color: white;
        }
        .btn:hover{
          background-color: white;
          color: teal;
          box-shadow: 0 0 10px teal;
        }
       .navbar{
        background-color:teal;
       }
       .navbar:hover{
         background-color: teal;
         color:black;
       }
      
    
      </style>

  </head>
  <body>
    <nav class="navbar navbar-expand-lg">
      <div class="container-fluid">
        <a class="navbar-brand" href="/errors/all">Alerts Capture</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item"><a href="/add" class="nav-link active">Add Alert</a></li>
            <li class="nav-item"> <a href="/errors/all" class="nav-link ">View Alerts</a></li>
            <li class="nav-item"> <a href="/errors/triggered" class="nav-link">5xx API</a></li>
            
            <li> <a href="/users/logout" class="nav-link">logout</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <% include ./partials/messages %>
    
    <div style="width: 60%; margin: auto;" class="py-5">
       <form action="/add" method="POST">
        <div class="form-group">
            <input type="text" name="alertname" placeholder="Alert Name" required class="form-control">
        </div>
        
        <div class="form-group">        
              <input list="alerttype" class="form-control" name="alerttype" required placeholder="Alert Type">
              <datalist id='alerttype'>
                <option disabled selected>Select Alert Types</option>
                <option>4xx</option>
              <option>5xx</option>
              <option>ALARM</option>
              <option>backend-infra</option>
              <option>check-apdex-score-supply: Critical</option>
              <option>CPU-High</option>
              <option>cpuUsage</option>
              <option>CPUUtilization</option>
              <option>CurrConnections</option>
              <option>ES_4xx</option>
              <option>ES_5xx</option>
              <option>HealcheckFailing</option>
              <option>healthyHost</option>
              <option>InstanceDown</option>
              <option>KibanaHealthyNodes</option>
              <option>OutOfDiskSpace</option>
              <option>OutOfMemory</option>
              <option>RDS_Connections</option>
              <option>readIOPS</option>
              <option>sensu</option>
              <option>TargetResponseTime</option>
              <option>UnhealthyHost</option>
              <option>WriteIOPS</option>
              <option>FreeableMemory</option>
              <option>EngineCPUUtilization</option>
              <option>NetworkByteIn+NetworkByteOut</option>
              <option>kafka</option>
              <option>ClusterStatus</option>
              <option>apache-thread-counts</option>
              <option>IOPS</option>
              <option>Unhealthy_Or_NotInTg</option>
              <option>freeStorage</option>
              <option>ReplicaLagAlert</option>
              <option>cloudfront_requests</option>
              <option>cloudfront_total_error_rate</option>
              <option>Cloudfront_5xx</option>
              <option>Cloudfront_4xx</option>
              <option>mongodb_Members_Manifest</option>
              <option>HDFSUtilization</option>
              <option>MRUnhealthyNodes</option>
             <option>MultiMasterInstanceGroupNodesRunning</option>
             <option>MissingBlocks</option>
             <option>CorruptBlocks</option>
             <option>UnderReplicatedBlocks</option>
             <option>data-infra-alerts</option>
             <option>KafkaConnectAlert</option>
             <option>Replication_Error</option>
             <option>Nodes</option>
             <option>ActiveControllerCount</option>
             <option>OfflinePartitionsCount_0+</option>
             <option>CpuUser</option>
             <option>KafkaDataLogsDiskUsed</option>
             <option>DatabaseMemoryUsagePercentage</option>
             <option>Redis-wallet_schedule_queue</option>
             <option>KafkaDataLogsDiskUsed</option>
             <option>ReplicationLag</option>
             <option>JVMMemoryPressure</option>
             <option>Connection-Errors</option>
            
              </datalist>
        </div>


        <div class="form-group">
          <textarea name="endpoint" placeholder="API Triggered"  class="form-control" rows="3"></textarea>
      </div>
      
       
        <div class="form-group">
            <textarea name="dev_response" placeholder="Developer Response" class="form-control" rows="5"></textarea>
            </div>

            <div class="form-group">
              <input type="text" name="responded_by" placeholder="Responded By" class="form-control"/>
              </div>
           


            <div class="form-group">
              <label for="alertTriggeredOn" class="d-inline-block" >Alert Triggered On</label>
              <input type="date" class="form-control d-inline" name="alertTriggeredOn" required/>
            </div>

            
            <div class="form-group">
            <input type="submit" value="Add Alert" class="btn bg-teal"/>
        </div>

        </div>
    </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </body>
</html>
