<!DOCTYPE html>
<html>
  <head>
    <title>Alerts-Capture: All Alerts</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel='stylesheet' href='../public/stylesheets/style.css'/>

  </head>
  <body>
    <nav class="navbar navbar-expand-sm" style="background-color: indigo; color: white;">
      <a href="/errors/all" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 40px;" class="nav-link">Alerts Capture</a>
      <a href="/errors/all" class="nav-link active">All alerts</a>
      <a href="/errors/summary" class="nav-link">Summary</a>
      <a href="/add" class="nav-link">Add Alert</a>
      
    <a href="/users/logout" class="nav-link">logout</a>
    </nav>
    <div style="align-items: center;" class="ml-5 py-5">
        <span>Filter by Type</span>
        <div style="width: 150px;" class="d-inline-block">
            <select name="type" class="form-control mx-2">
          <option>Test</option></select>
        </div>
    
          <span class="mx-5">Filter by Date</span>
      <div class="d-inline-block mx-2" style="width: 220px;">
          <input type="date" name="datefrom" class="form-control"/>
      </div>
      

      
    </div>
    
   

    <div>
     
      <table class="table m-auto">
        <thead>
        
          <th scope="col">alert name</th>
          <th scope="col">alert type</th>
          <th scope="col">End Point</th>
          <th scope="col">Dev Response</th>
          
        </thead>
        <tbody>
      <% alerts.forEach((alert) => { %>
        <tr>
        <td style="width: 15%;"><%= alert.alertname %></td>
        <td style="width: 15%;"><%= alert.alerttype %></td>
        <td style="width: 30%;"><%= alert.endpoint %></td>
        <td style="width: 70%;"><%= alert.dev_response %></td>
        
      </tr>
      <% });%>
        </tbody>
      </table>
      </div>


  </body>
</html>
