<!DOCTYPE html>
<html>
  <head>
    <title>Alerts-Capture: Login</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'/>

    <style>
      .nav-link,.navbar-brand{
        color:white;
      }
      .nav-link:hover,.navbar-brand:hover{
        color:white;
      }
      .text-teal{
        color: teal;
      }
      .bg-teal{
        background-color: teal;
        color: white;
      }
      .btn:hover{
        background-color: white;
        color: teal;
        box-shadow: 0 0 10px teal;
      }
     .navbar{
      background-color:teal;
     }
     .navbar:hover{
       background-color: teal;
       color:black;
     }
    
  
    </style>

  </head>
  <body>
    <nav class="navbar navbar-expand-sm">
      <a href="/" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 40px;" class="nav-link">Alerts Capture</a>
  
    </nav>
    <% include ./partials/messages %>

    <form action="/users/login" method="POST" style="width: 300px; margin: auto; margin-top: 200px;">
      <div class="form-group">
        
        <input type="email" class="form-control" placeholder="Username" id="email" name="email">
      </div>
      <div class="form-group">
        
        <input type="password" class="form-control" placeholder="Enter password" id="pwd" name="password">
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>


  </body>
</html>
