.navbar{
    color: white;
    background-color: yellow;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    background-color: black;
    width: 100%;
  }
  
  td, th {
    border: 1px black;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color:black;
  }